<!-- <div class="content">
<div class="footer bg-black">
		<div class="container">

			<ul class="social-list">
				<li><a href="javascript:;" class="facebook"><i class="ion-social-facebook"></i></a></li>
				<li><a href="javascript:;" class="twitter"><i class="ion-social-twitter"></i></a></li>
				<li><a href="javascript:;" class="pinterest"><i class="ion-social-github"></i></a></li>
			</ul>

			<div class="copyright v-text">TEAMFOX © 2015</div>

		</div><!--.container-->
	</div>
</div> -->